.container{
    width: 75%;
    height: 100vh;
    background: #fc3;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
    height: 100vh;
    background: #fc3;
    
}
.card{
    width: 100%;
    height: 100%;
    background: #fff;
    margin: 0.5rem;
    padding: 0.5rem;

}
.card img{
        width: 100%;
}
        
.cards{
            
    display: flex;
    flex-direction: row;
    margin: 0 auto;

}
hr{
    height: 1px;
    border: none;
    background: #000;
}