:root{
    --blue:#00ADEF;
    --grey:#263748;
    
}
/**********************************************************************************
                        HELPER CLASSES
*********************************************************************************/
body,html{
    width: 100%;
}


.highlight-heading{
    color: var(--blue);
}
.heading{
    font-family: 'open sans',sans-serif;
    font-size: 3rem;
    color: var(--grey);
    font-weight: 600;
    text-transform: uppercase;
}
a{
    text-decoration: none!important;
}

li{
    list-style: none!important;
}

button:focus{
    outline: 0!important;
}

a:focus{
    outline: 0!important;
}

/*
h1,h2,h3,h4,h5,h6,p{
    margin: 0!important;
}
*/

.m-t-0{ margin-top: 0px!important; }
.m-t-5{ margin-top: 5px!important; }
.m-t-10{ margin-top: 10px!important; }
.m-t-15{ margin-top: 15px!important; }
.m-t-20{ margin-top: 20px!important; }
.m-t-25{ margin-top: 25px!important; }
.m-t-30{ margin-top: 30px!important; }
.m-t-35{ margin-top: 35px!important; }
.m-t-40{ margin-top: 40px!important; }
.m-t-45{ margin-top: 45px!important; }
.m-t-50{ margin-top: 50px!important; }
.m-t-55{ margin-top: 55px!important; }
.m-t-60{ margin-top: 60px!important; }
.m-t-65{ margin-top: 65px!important; }
.m-t-70{ margin-top: 70px!important; }
.m-t-75{ margin-top: 75px!important; }
.m-t-80{ margin-top: 80px!important; }
.m-t-85{ margin-top: 85px!important; }
.m-t-90{ margin-top: 90px!important; }
.m-t-95{ margin-top: 95px!important; }
.m-t-100{ margin-top: 100px!important; }
.m-b-0{ margin-bottom: 0px!important; }
.m-b-5{ margin-bottom: 5px!important; }
.m-b-10{ margin-bottom: 10px!important; }
.m-b-15{ margin-bottom: 15px!important; }
.m-b-20{ margin-bottom: 20px!important; }
.m-b-25{ margin-bottom: 25px!important; }
.m-b-30{ margin-bottom: 30px!important; }
.m-b-35{ margin-bottom: 35px!important; }
.m-b-40{ margin-bottom: 40px!important; }
.m-b-45{ margin-bottom: 45px!important; }
.m-b-50{ margin-bottom: 50px!important; }
.m-b-55{ margin-bottom: 55px!important; }
.m-b-60{ margin-bottom: 60px!important; }
.m-b-65{ margin-bottom: 65px!important; }
.m-b-70{ margin-bottom: 70px!important; }
.m-b-75{ margin-bottom: 75px!important; }
.m-b-80{ margin-bottom: 80px!important; }
.m-b-85{ margin-bottom: 85px!important; }
.m-b-90{ margin-bottom: 90px!important; }
.m-b-95{ margin-bottom: 95px!important; }
.m-b-100{ margin-bottom: 100px!important; }
.p-t-0{ padding-top: 0px!important; }
.p-t-5{ padding-top: 5px!important; }
.p-t-10{ padding-top: 10px!important; }
.p-t-15{ padding-top: 15px!important; }
.p-t-20{ padding-top: 20px!important; }
.p-t-25{ padding-top: 25px!important; }
.p-t-30{ padding-top: 30px!important; }
.p-t-35{ padding-top: 35px!important; }
.p-t-40{ padding-top: 40px!important; }
.p-t-45{ padding-top: 45px!important; }
.p-t-50{ padding-top: 50px!important; }
.p-t-55{ padding-top: 55px!important; }
.p-t-60{ padding-top: 60px!important; }
.p-t-65{ padding-top: 65px!important; }
.p-t-70{ padding-top: 70px!important; }
.p-t-75{ padding-top: 75px!important; }
.p-t-80{ padding-top: 80px!important; }
.p-t-85{ padding-top: 85px!important; }
.p-t-90{ padding-top: 90px!important; }
.p-t-95{ padding-top: 95px!important; }
.p-t-100{ padding-top: 100px!important; }


.p-b-0{ padding-bottom: 0px!important; }
.p-b-5{ padding-bottom: 5px!important; }
.p-b-10{ padding-bottom: 10px!important; }
.p-b-15{ padding-bottom: 15px!important; }
.p-b-20{ padding-bottom: 20px!important; }
.p-b-25{ padding-bottom: 25px!important; }
.p-b-30{ padding-bottom: 30px!important; }
.p-b-35{ padding-bottom: 35px!important; }
.p-b-40{ padding-bottom: 40px!important; }
.p-b-45{ padding-bottom: 45px!important; }
.p-b-50{ padding-bottom: 50px!important; }
.p-b-55{ padding-bottom: 55px!important; }
.p-b-60{ padding-bottom: 60px!important; }
.p-b-65{ padding-bottom: 65px!important; }
.p-b-70{ padding-bottom: 70px!important; }
.p-b-75{ padding-bottom: 75px!important; }
.p-b-80{ padding-bottom: 80px!important; }
.p-b-85{ padding-bottom: 85px!important; }
.p-b-90{ padding-bottom: 90px!important; }
.p-b-95{ padding-bottom: 95px!important; }
.p-b-100{ padding-bottom: 100px!important; }






.m-0{ margin: 0px!important; }
.m-5{ margin: 5px!important; }
.m-10{ margin: 10px!important; }
.m-15{ margin: 15px!important; }
.m-20{ margin: 20px!important; }
.m-25{ margin: 25px!important; }
.m-30{ margin: 30px!important; }
.m-35{ margin: 35px!important; }
.m-40{ margin: 40px!important; }
.m-45{ margin: 45px!important; }
.m-50{ margin: 50px!important; }
.m-55{ margin: 55px!important; }
.m-60{ margin: 60px!important; }
.m-65{ margin: 65px!important; }
.m-70{ margin: 70px!important; }
.m-75{ margin: 75px!important; }
.m-80{ margin: 80px!important; }
.m-85{ margin: 85px!important; }
.m-90{ margin: 90px!important; }
.m-95{ margin: 95px!important; }
.m-100{ margin: 100px!important; }





.p-0{ padding: 0px!important; }
.p-5{ padding: 5px!important; }
.p-10{ padding: 10px!important; }
.p-15{ padding: 15px!important; }
.p-20{ padding: 20px!important; }
.p-25{ padding: 25px!important; }
.p-30{ padding: 30px!important; }
.p-35{ padding: 35px!important; }
.p-40{ padding: 40px!important; }
.p-45{ padding: 45px!important; }
.p-50{ padding: 50px!important; }
.p-55{ padding: 55px!important; }
.p-60{ padding: 60px!important; }
.p-65{ padding: 65px!important; }
.p-70{ padding: 70px!important; }
.p-75{ padding: 75px!important; }
.p-80{ padding: 80px!important; }
.p-85{ padding: 85px!important; }
.p-90{ padding: 90px!important; }
.p-95{ padding: 95px!important; }
.p-100{ padding: 100px!important; }



.m-auto{
    margin: 0 auto!important;
}

.content-box-md{
    padding: 100px 0;
}
.content-box-lg{
    padding: 120px 0;
}
.content-box-sm{
    padding: 80px 0;
}
.content-box-xs{
    padding: 60px 0;
}

.m-l-0{ margin-left: 0px!important; }
.m-l-5{ margin-left: 5px!important; }
.m-l-10{ margin-left: 10px!important; }
.m-l-15{ margin-left: 15px!important; }
.m-l-20{ margin-left: 20px!important; }
.m-l-25{ margin-left: 25px!important; }
.m-l-30{ margin-left: 30px!important; }
.m-l-35{ margin-left: 35px!important; }
.m-l-40{ margin-left: 40px!important; }
.m-l-45{ margin-left: 45px!important; }
.m-l-50{ margin-left: 50px!important; }
.m-l-55{ margin-left: 55px!important; }
.m-l-60{ margin-left: 60px!important; }
.m-l-65{ margin-left: 65px!important; }
.m-l-70{ margin-left: 70px!important; }
.m-l-75{ margin-left: 75px!important; }
.m-l-80{ margin-left: 80px!important; }
.m-l-85{ margin-left: 85px!important; }
.m-l-90{ margin-left: 90px!important; }
.m-l-95{ margin-left: 95px!important; }
.m-l-100{ margin-left: 100px!important; }
.m-r-0{ margin-right: 0px!important; }
.m-r-5{ margin-right: 5px!important; }
.m-r-10{ margin-right: 10px!important; }
.m-r-15{ margin-right: 15px!important; }
.m-r-20{ margin-right: 20px!important; }
.m-r-25{ margin-right: 25px!important; }
.m-r-30{ margin-right: 30px!important; }
.m-r-35{ margin-right: 35px!important; }
.m-r-40{ margin-right: 40px!important; }
.m-r-45{ margin-right: 45px!important; }
.m-r-50{ margin-right: 50px!important; }
.m-r-55{ margin-right: 55px!important; }
.m-r-60{ margin-right: 60px!important; }
.m-r-65{ margin-right: 65px!important; }
.m-r-70{ margin-right: 70px!important; }
.m-r-75{ margin-right: 75px!important; }
.m-r-80{ margin-right: 80px!important; }
.m-r-85{ margin-right: 85px!important; }
.m-r-90{ margin-right: 90px!important; }
.m-r-95{ margin-right: 95px!important; }
.m-r-100{ margin-right: 100px!important; }
.p-l-0{ padding-left: 0px!important; }
.p-l-5{ padding-left: 5px!important; }
.p-l-10{ padding-left: 10px!important; }
.p-l-15{ padding-left: 15px!important; }
.p-l-20{ padding-left: 20px!important; }
.p-l-25{ padding-left: 25px!important; }
.p-l-30{ padding-left: 30px!important; }
.p-l-35{ padding-left: 35px!important; }
.p-l-40{ padding-left: 40px!important; }
.p-l-45{ padding-left: 45px!important; }
.p-l-50{ padding-left: 50px!important; }
.p-l-55{ padding-left: 55px!important; }
.p-l-60{ padding-left: 60px!important; }
.p-l-65{ padding-left: 65px!important; }
.p-l-70{ padding-left: 70px!important; }
.p-l-75{ padding-left: 75px!important; }
.p-l-80{ padding-left: 80px!important; }
.p-l-85{ padding-left: 85px!important; }
.p-l-90{ padding-left: 90px!important; }
.p-l-95{ padding-left: 95px!important; }
.p-l-100{ padding-left: 100px!important; }
.p-r-0{ padding-right: 0px!important; }
.p-r-5{ padding-right: 5px!important; }
.p-r-10{ padding-right: 10px!important; }
.p-r-15{ padding-right: 15px!important; }
.p-r-20{ padding-right: 20px!important; }
.p-r-25{ padding-right: 25px!important; }
.p-r-30{ padding-right: 30px!important; }
.p-r-35{ padding-right: 35px!important; }
.p-r-40{ padding-right: 40px!important; }
.p-r-45{ padding-right: 45px!important; }
.p-r-50{ padding-right: 50px!important; }
.p-r-55{ padding-right: 55px!important; }
.p-r-60{ padding-right: 60px!important; }
.p-r-65{ padding-right: 65px!important; }
.p-r-70{ padding-right: 70px!important; }
.p-r-75{ padding-right: 75px!important; }
.p-r-80{ padding-right: 80px!important; }
.p-r-85{ padding-right: 85px!important; }
.p-r-90{ padding-right: 90px!important; }
.p-r-95{ padding-right: 95px!important; }
.p-r-100{ padding-right: 100px!important; }
.f-s-0{ font-size: 0px!important; }
.f-s-5{ font-size: 5px!important; }
.f-s-10{ font-size: 10px!important; }
.f-s-15{ font-size: 15px!important; }
.f-s-20{ font-size: 20px!important; }
.f-s-25{ font-size: 25px!important; }
.f-s-30{ font-size: 30px!important; }
.f-s-35{ font-size: 35px!important; }
.f-s-40{ font-size: 40px!important; }
.f-s-45{ font-size: 45px!important; }
.f-s-50{ font-size: 50px!important; }
.f-s-55{ font-size: 55px!important; }
.f-s-60{ font-size: 60px!important; }
.f-s-65{ font-size: 65px!important; }
.f-s-70{ font-size: 70px!important; }
.f-s-75{ font-size: 75px!important; }
.f-s-80{ font-size: 80px!important; }
.f-s-85{ font-size: 85px!important; }
.f-s-90{ font-size: 90px!important; }
.f-s-95{ font-size: 95px!important; }
.f-s-100{ font-size: 100px!important; }
.f-w-100{font-weight: 100!important; } 
.f-w-200{font-weight: 200!important; } 
.f-w-300{font-weight: 300!important; } 
.f-w-400{font-weight: 400!important; } 
.f-w-500{font-weight: 500!important; } 
.f-w-600{font-weight: 600!important; } 
.f-w-700{font-weight: 700!important; } 
.f-w-800{font-weight: 800!important; } 
.f-w-900{font-weight: 900!important; } 
 
.l-h-10{line-height: 10px!important; } 
.l-h-15{line-height: 15px!important; } 
.l-h-20{line-height: 20px!important; } 
.l-h-25{line-height: 25px!important; } 
.l-h-30{line-height: 30px!important; } 
.l-h-35{line-height: 35px!important; } 
.l-h-40{line-height: 40px!important; } 
.l-h-45{line-height: 45px!important; } 
.l-h-50{line-height: 50px!important; } 
.l-h-55{line-height: 55px!important; } 
.l-h-60{line-height: 60px!important; } 
.l-h-65{line-height: 65px!important; } 
.l-h-70{line-height: 70px!important; } 
.l-h-75{line-height: 75px!important; } 
.l-h-80{line-height: 80px!important; } 
.l-h-85{line-height: 85px!important; } 
.l-h-90{line-height: 90px!important; } 
.l-h-95{line-height: 95px!important; } 


.parallax{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


.overlay{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}
/******************************************************
                header SEVTION
******************************************************/
/****************************Header Section*******************************/

.logo{
    display: inline;
}
.heading{
    display: inline-block;
    color: 00Adef;
    margin: 0;
    padding: 0;
}
.primary-main-blue{
    color: #00Adef;
}
.main-black{
    color: #000;
    margin-left: 5px;
}
.separater{
    height: 11px;
    width: 2px;
    background: grey;
    margin-left: 10px;
    margin-right: 10px;
}
.down-separter{
    border-bottom: solid .9px #969ea7;
    margin-top: 5px;
/*
    background:  #2d3e50;
    width: 100px;
    height: 1px;
*/
    position: absolute;
    top: 10px;
    left: 0px;
    width: 575px;
    height: 10px;
}
.square-border{
    border: solid 1px #000;
    padding: 5px;
    border-radius: 8px;
}
.push-above{
    position: absolute;
    top: 31px;
    left: -2px;
}
.push-above-1{
    position: absolute;
    top: 31px;
    left: 171px;
}
.push-above-2{
    position: absolute;
    top: 31px;
    left: 457px;
}
/*----------------------------*/



/******************************************************
                FEATURES SEVTION
******************************************************/
#features-section{
    height: auto;
}
.bg-img{
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}


#features{
    padding-left: 0; 
    margin-bottom: 0;
}

.img{
    height: 20vh;
    width: 20vh;
}
#features-list{
    margin-right: 20px;
    margin-top: 10px;
    border-top: 2px solid #2d3e50;
    border-bottom: 2px solid #2d3e50;
}
#features-list li{
/*    border-bottom: solid 1px #969ea7;*/
    padding-top: 25px;
    padding-bottom: 25px;
}

#features-list i{
    font-size: 24px;
    font-weight: 500;
    margin-right: 10px;
    margin-left: 10px;
}

.list-heading{
    text-transform: capitalize;
    display: inline;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    line-height: normal;
    font-size: 22px;
}

.seperator{
    border-top: 1px solid #969ea7;
}

#features-heading{
    color: #2d3e50;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
    font-weight: 800;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-size: 32px;
    margin-bottom: 15px;
}
#features-heading span{
    color: #00adef;
}

p{    
    font-family: 'lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #aaa;
    margin-bottom: 25px;
}

.small-list-heading{
    font-size: 16px;
    font-family: 'lato', sans-serif;
    display: inline;
}


.col-md-6 ul{
    padding-left: 0;     
    margin-top: 50px;
    font-size: 12px;
    font-weight: 300;
    color: #888;
}
.col-md-6 ul li{
    margin-top: 5px;
    padding: 5px;
}

.col-md-6 ul li i{
    color: #00adef;
    margin-right: 5px;
    font-size: 12px;
    font-weight: bold;
}



/*counter section*/


#counter-overlay{
    
    background: #00adef;
    opacity: 0.9;
    z-index: -1;
}
.card{
    position: relative;
    padding: 20px;
    border: 1px solid #fff;
    color: #fff;
    background: #00adef;
}

.counter-heading{
    color: #fff;
    text-transform: capitalize;
    font-size:  22px;
    font-weight: 600;
    font-family: 'open sans', sans-serif;
}

.card i{
    position: absolute;
    font-size: 28px;
    border: 1px solid #fff;
    padding: 10px;
    top: 10%;
    background: #00adef;
    left: 90%;
}

.numbers{
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
    color: #2d3e50;
}
#counter-section{
    margin-top: 100px;
    z-index: -9999;
    background-image: url(../../images/christian-bowen-I0ItPtIsVEE-unsplash.jpg);
    
    background-size: cover;
}















.general-heading{
    color: #2d3e50;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.general-heading span{
    color: #00adef;
}


.general-para{
    color: #2d3e50;
    font-weight: 100;
    font-size: 16px;
    padding: 0 50px;
    margin: 20px 100px;
}

.doc{
    position: relative;
/*    height: ;*/
    width:  auto;
}
.member-details{
    height: 100%;
    width: 100%;
    background: rgba(0,173,239,1);
    opacity: 0;
    transition: all .4s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.doc:hover .member-details{
    opacity: 0.9;
    transition: all .4s ease-in-out;
}


.member-name{
    color: #fff;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
}

.member-desig{
    color: #2d3e50;
    text-transform: capitalize;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.social-icons ul {
    padding: 0;
}
.social-icons ul li{
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    text-align: center;
    display: inline-block;
}
.social-icons ul li a i{
    color: #777;
    margin: 0 
}
.social-icons ul li a:hover i{
    color: #fff;
}

.member-des{
    color: #fff;
    font-size: 12px;
    font-family: 'roboto', sans-serif;
    line-height: 1.8;
}

.message-box h4{
    display: inline-block;
    margin-left: 15px;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
}
.message-box i{
    font-size: 22px;
}
.message-box{
    padding: 5px;
    position: absolute;
    top: 90%;
    left: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background: #2d3e50;
}





/*reviews*/

#reviews{
    margin-top: 100px;
}

/*************************************************
                SERVICES
**************************************************/


#services-we-offer .heading{
    color: var(--grey);
    font-size: 3rem;
    font-weight: 600;
}

#services-we-offer .subtitle{
    width: 80%;
    margin: 0 auto;
    font-family: 'Lato',sans-serif;
    color: var(--grey);
}
#services-we-offer .service h5{
    font-family: 'Lato',sans-serif;
    color: var(--grey);
    font-weight: 600;
}
#services-we-offer .service{
/*    margin: 1rem;*/
padding:2rem;
/*    height: 66px;*/
}

#services-we-offer .services-offered{
    margin-top: 5rem;
}

#services-we-offer .services-offered .row{
/*    margin: 3.5rem 0;*/
    margin: 0;
}
#service-1{
    border-bottom: solid 1px #aaa;
    border-right: solid 1px #aaa;
    
}
#service-2{
    border-bottom: solid 1px #aaa;
    border-right: solid 1px #eee;
    
}
#service-3{
    border-bottom: solid 1px #aaa;
    border-left: solid 1px #aaa;
    
}
#service-4{
/*    border-bottom: solid 1px #aaa;*/
    border-right: solid 1px #aaa;
    
}
#service-5{
/*    border-bottom: solid 1px #aaa;*/
    border-right: solid 1px #aaa;
    
}

.load-more a{
    font-size: 1rem;
}

.overlay-grey{
    background: var(--grey);
    opacity: 0.9;
    margin:4rem 0;
/*    padding-bottom: 3.3rem 0;*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-14%);
}



li{
    list-style: none;
    display: inline-block;
    padding: 2rem;
}
li a{
    text-decoration: none;
    
    color: #fff;
/*    padding: 2rem;*/
}

.main-nav{
    margin-top: 0;
    background: #2d3e50;
    height: 7vh;
    border-top: 10px solid var(--grey);
    border-right: 25px solid transparent;
}


li a:hover{
    color: #fff;text-decoration: none;
}

.search{
    display: inline-block;
    color: white;
    margin: 12px 10px;
    margin-right: 20px;
    
}
nav{
    background: #00adef;
}
.sep-blue{
        display: inline-block;

     width: 50px;
    background: #00adef;
        height: 2px;

}
.nav-right-side{
    background: #00adef;
    height: 46px;
    width: 562px;
}
/*************************************

**************************************/
#testimonials{
    background: url('../../images/christian-bowen-I0ItPtIsVEE-unsplash.jpg')no-repeat center center;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
}


#testimonials h2{
    color: #fff
}



#testimonials .icon{
    font-size: 4rem;
    color: var(--blue);
}

.testimonial .image img{
    border-radius: 50%;
    width: 100%;
}
.testimonial{
    border: double 3px #fff ;
    display: flex;
    flex-direction: row;
    padding: 3rem;
    display: table;
}

.testimonial p{
/*    justify-content: center;*/
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    font-size: 1rem;
    font-style: italic;
    margin: 0.6rem 1rem;
    
}
.owl-nav{
    display: none;
    
}

.owl-dot{
    color: var(--blue);
}




        