*{
    padding: 0;
    margin: 0;
}

p{
    font-family: 'open sans',sans-serif;
}
a{
    text-decoration: none;
}
.highlight-heading{
    color: var(--blue);
}
.heading{
    font-family: 'open sans',sans-serif;
    font-size: 3rem;
    color: var(--grey);
    font-weight: 600;
}
.hw{
    color:#fff;
}
section{
    padding: 3rem 0;
    margin: 3rem 0;
}

:root{
    --blue:#00adef;
    --grey:#263748;
    --white:#fff;
}

[class*="col-"]{
    padding: 0;
    margin: 0;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.container-fluid .row{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
}
tbody{
    
    border:none;
}

/***************************************************************
                    HELPING CLASSES:                            
****************************************************************/

.p-0{
    padding: 0!important;
}

.p-100{
    padding: 100px!important;
}

.p-t-0{
    padding-top: 0!important;
}
.p-t-100{
    padding-top: 100px!important;
}

.p-t-30{
    padding-top: 30px!important;
}
.p-b-0{
    padding-bottom: 0!important;
}
.p-b-100{
    padding-bottom: 100px!important;
}

.m-a{
    margin: 0 auto!important;
}

.m-b-0{
    margin-bottom: 0px!important;
}
.m-b-30{
    margin-bottom: 30px!important;
}
.m-b-50{
    margin-bottom: 50px!important;
}
.m-b-20{
    margin-bottom: 20px!important;
}
.m-t-20{
    margin-top: 20px!important;
}
.m-b-10{
    margin-bottom: 10px!important;
}
.m-b-50{
    margin-bottom: 50px!important;
}
.m-b-100{
    margin-bottom: 100px!important;
}
.m-b-150{
    margin-bottom: 150px!important;
}

.m-t-0{
    margin-top: 0px!important;
}
.m-t-70{
    margin-top: 70px!important;
}
.m-t-30{
    margin-top: 30px!important;
}

.m-t-50{
    margin-top: 50px!important;
}

.m-t-500{
 margin-top: 500px!important;       
}

.m-t-200{
 margin-top: 200px!important;       
}
.m-t-100{
 margin-top: 100px!important;       
}



nav .heading,nav i{
    color: var(--blue);
}
.rightnav div{
    border-right: solid 1px #000;
    padding: 0 1rem;
    margin: 0 auto;
}
/*
nav{
    color: var(--blue);
    font-family: 'Lato',sans-serif;
}
*/

/***************************************************************
                    HOME CLASSES:                            
****************************************************************/
.main-nav{
    margin-top: 0;
    background: #2d3e50;
    height: 7vh;
}
/*
.nav-contents{
    display: inline-block;
    color: #Fff;
    margin: 12px 10px;
    margin-right: 20px;
}
*/
li{
    list-style: none;
    display: inline-block;
    padding: 2rem;
}
li a{
    text-decoration: none;
    
    color: #fff;
/*    padding: 2rem;*/
}

li a:hover{
    color: #fff;text-decoration: none;
}

.search{
    display: inline-block;
    color: white;
    margin: 12px 10px;
    margin-right: 20px;
    
}
nav{
    background: #00adef;
}
.sep-blue{
        display: inline-block;

     width: 50px;
    background: #00adef;
        height: 2px;

}
.nav-right-side{
    background: #00adef;
    height: 46px;
    width: 562px;
}

#home-left{
    background: var(--blue);
    opacity: 0.9;
    height: 100vh;
    display: table;
}
#home-inner-right{
    padding: 0;
    margin: 0;
    border-top: 739px solid rgba(0,172,239,0.9);
    border-right: 225px solid transparent;
}
#home-left .main-heading-wrapper{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    
}
#home-left p{
    color: #fff;
    width: 70%;
    margin: 0 auto;
    text-align: start;
}
#home-left .main-heading{
    font-family: 'open sans',sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--white);
/*    text-align:left;*/
    margin: 1rem auto;
    
    
}
#home{
    background: url(../../img/ani-kolleshi-7jjnJ-QA9fY-unsplash.jpg)no-repeat center center;
    background-size: cover;
    height: 100vh;
}



#home-left .main-heading span{
    font-size:3rem;
    color: var(--grey);
    font-weight: 800;
    
}


/***************************************************************
                    BTN STYLING:                                 
****************************************************************/
.buttons{
    margin: 0 auto;
}
.btn{
    padding: 0.4rem 1rem;
    border: solid 1px var(--grey);
    margin: 1rem;
    border-radius: 0;
}
.grey-btn{
    background: var(--grey);
    color: #fff;
    border: none;
    padding: 0.7rem 1rem;
 
    
}

.overlay-grey{
    background: var(--grey);
    opacity: 0.9;
    margin:4rem 0;
/*    padding-bottom: 3.3rem 0;*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-11%);
}
.blue-btn{

    border: solid 1px #fff;
    color: #fff;
}

/***************************************************************
                    SERVICES SECTION STYLING:                    
****************************************************************/
.icon{
    font-size: 3rem;
    color: var(--blue);
}
.icon i{
    color: #fff;
}


#services{
    margin: 3rem;
    padding: 2rem;
    margin-bottom: 0;
}
#services .services-heading{
    font-family: 'open sans',sans-serif;
    font-size: 3rem;
    color: var(--grey);
    font-weight: 600;
}
#services .services-heading span{
    color: var(--blue);

}

#services .service{
    padding: 1rem;
}
#services .service p{
    font-size: 1.2rem;
    font-family: 'roboto';
    color: #777;
}

#services .service .heading-service{
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    font-family: 'open sans',sans-serif;
    
}
#services .service .heading-service h5{
    color: var(--grey);
    font-weight: 600;
    margin-left: 1rem;
}
#services .service .heading-service .icon{
    font-size: 3rem;
    color: var(--blue);
}

#services .service-right{
/*    background: #aaa;*/
    height: 100px;
}

#services .service-right .working-time{
    background: var(--grey);
    color: #fff;
    padding: 1rem;
    width: 60%;
    text-align: center;
    position: relative;
    transform: translate(20%,10%);
}
 
#services .service-right .working-time h5{
    background: var(--blue);
    position: absolute;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    color: #fff;
    top: 0;
    left: 0;
}
td,tr,table{
    border: none;
}
#services .service-right .working-time .table{
    margin: 2rem auto;
    border: none;
}

#services .service-right .working-time .discharge-time{
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    padding: 0.5rem 0;
    width: 100%;
}

/***************************************************************
                    COUNTER SECTION STYLING:                    
****************************************************************/

#counter-section{
    background: url('../../img/baby-1531059_1280.jpg')no-repeat center center;
    background-size: cover;
    position: relative;
}
.overlay{
    background: var(--blue);
    opacity: 0.9;
/*    margin: 3rem 0;*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    transform: translateY(-11%);*/
}

.card-counter .row{
    margin: 0;
}

.card-counter{
    border: solid 1px #fff;
    margin: 3rem 0;
    color: #fff;
    padding: 2rem;
    width: 60%;
/*    position: relative;*/
}
.card-counter h5{
    font-weight: 400;
    font-size: 1.5rem;
}
.card-counter span{
    font-size: 2rem;
    font-weight: 600;
    color: var(--grey);
}
.card-counter .icon{
    position: absolute;
    font-size: 3.5rem;
/*    display: inline-b*/
    background: var(--blue);
    transform: translate(150%,0%);
    border: solid 1px #fff;
    padding: 1rem;
/*    width: 50%;*/
    text-align: center;
}

/***************************************************************
                    OUR SERVICES STYLING:               
****************************************************************/
#services-we-offer .heading{
    color: var(--grey);
    font-size: 3rem;
    font-weight: 600;
}

#services-we-offer .subtitle{
    width: 80%;
    margin: 0 auto;
    font-family: 'Lato',sans-serif;
    color: var(--grey);
}
#services-we-offer .service h5{
    font-family: 'Lato',sans-serif;
    color: var(--grey);
    font-weight: 600;
}
#services-we-offer .service{
/*    margin: 1rem;*/
padding:2rem;
/*    height: 66px;*/
}

#services-we-offer .services-offered{
    margin-top: 5rem;
}

#services-we-offer .services-offered .row{
/*    margin: 3.5rem 0;*/
    margin: 0;
}
#service-1{
    border-bottom: solid 1px #aaa;
    border-right: solid 1px #aaa;
    
}
#service-2{
    border-bottom: solid 1px #aaa;
    border-right: solid 1px #eee;
    
}
#service-3{
    border-bottom: solid 1px #aaa;
    border-left: solid 1px #aaa;
    
}
#service-4{
/*    border-bottom: solid 1px #aaa;*/
    border-right: solid 1px #aaa;
    
}
#service-5{
/*    border-bottom: solid 1px #aaa;*/
    border-right: solid 1px #aaa;
    
}

.load-more a{
    font-size: 1rem;
}

/***************************************************************
                    NEWSLETTER CLASSES:                           
****************************************************************/

#newsletter{
    width: 100%;
    background: var(--blue);
    padding: 4rem 0;
    
}

#newsletter h2{
    font-family: 'Roboto',sans-serif;
}

#newsletter .doc{
    position: absolute;
    top: 0;
}


#newsletter p{
    color: #fff;
}
#newsletter input{
    font-family: 'open sans',sans-serif;
}

#newsletter .email{
    width: 50%;
    padding: 0.5rem 1rem;
    border: none;
}
#newsletter .submit{
    padding: 0.5rem 1rem;
}
#newsletter img{
    transform: translateY(-49%);
}

#newsletter .video{
    background: var(--grey);
/*    width: 100px;*/
    height: 145px;
    margin-right: 0rem;
    transform: translateX(-20%);
}
#newsletter .newsletter-right{
    margin-left: 2rem;
}
#portfolio{
 display: grid;
/*    grid-template-columns: 1fr 1fr 1fr 1fr;*/
}

#isotope-filters button{
    border: none;
    background: #fff;
    color: #000;
}

button:active,.active{
    border-bottom: var(--grey);
}

.active{
    border-bottom: var(--grey);
}

#isotope-container{
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#isotope-container .portfolio-item img{
 width: 100%;
padding: 0.5rem;
}

.btn.active{
    box-shadow: none;
}

/***************************************************************
                    TEAM SECTION STYLING:                    
****************************************************************/

#teams img{
    width: 100%;
/*    height: 70%;*/
/*    margin: 1.5rem;*/
    padding: 1.5rem;
}

/***************************************************************
                    TESTIMONIALS SECTION STYLING:      
****************************************************************/

#testimonials{
    background: url('../../img/img001.jpg')no-repeat center center;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
}


#testimonials h2{
    color: #fff
}



#testimonials .icon{
    font-size: 4rem;
    color: var(--blue);
}

.testimonial .image img{
    border-radius: 50%;
    width: 100%;
}
.testimonial{
    border: double 3px #fff ;
    display: flex;
    flex-direction: row;
    padding: 3rem;
    display: table;
}

.testimonial p{
/*    justify-content: center;*/
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    font-size: 1rem;
    font-style: italic;
    margin: 0.6rem 1rem;
    
}
.owl-nav{
    display: none;
    
}

.owl-dot{
    color: var(--blue);
}





/***************************************************************
                    DEPARTMENTS SECTION STYLING:     
****************************************************************/


#departments{
    padding-top: 2rem;
    margin: 0;
    background: #d0d0d0;
/*    height: 100vh;*/
}

#departments p{
    font-size: 1.3rem;
    color: #777;
}

#departments .department {
    position: relative;
    padding: 1rem;
}


#departments .department img{
/*    background: url('../../img/doctor-2722941_1920.jpg')no-repeat center center;*/
    width: 100%;
    background-size:cover;
    height: 100%;
    margin: 1rem 0;
/*    padding: 5rem;*/
    
}
#departments .department .overlay{
    background: var(--blue);
    opacity: 0.6;
/*    margin: 10px;*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    transform: translateY(-11%);*/
}
.mycard{
    position: relative;
}

.mycard .date-overlay i .date{
    display: inline-block;
    padding: 0 0.7rem;
/*    margin-right: -10%;*/
}
.mycard .date-overlay i{

    display: inline;
    font-size: 1.5rem; color: #fff;
    z-index: 999;
}
.mycard .date-overlay{
    position: absolute;
    bottom: 70px;
/*    height: 100%;*/
    margin: 0;
    margin: 1rem;
    padding: 0;
    width: 95%;
    background: var(--grey);
    opacity: 0.7;
    color: #f4f4f4;

}

.mycard img{
width: 100%;
    padding: 1rem;
}


.mycard p{
    margin: 1rem;
}



/*************************************
                FOOTER
**************************************/


#footer{
    background: var(--blue);
    height: auto;
}


#footer i{
    display: table-cell;
    vertical-align: middle;
    background: #0088bc;
    height: 10vh;
    width: 7vh;
    font-size: 36px;
    color: #fff;
    text-align: center;
    top: 50%;
    padding: 0 1.2rem;
    position: relative;
}

.tablee{
    display: table;
}

.serve-heading{
    text-transform:uppercase;
    font-size: 24px;
    color: #fff;
}
.serve-des{
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    color: #fff;
    font-weight: 400;
}
#footer .seperator{
    border-bottom: 2px #fff solid;
}
#footer .footer-des{
    color: #fff;
    font-family: 'lato', sans-serif;
    font-size: 12px;
    color: #fff;
    z-index: 0;
}

#footer .bg-img{
    position: relative;
    background-image: url(../../images/chang-duong-nDi4YTMKP-g-unsplash.jpg);
    width: 100%;
    z-index: 0;
}

#footer .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 1;
}
